/node_modules
/.hidden
/.apps
**/__pycache__
/reactdev
/logs
**/.hide
sendgrid.env
/static
/csv
/txt
/templates/*
!/templates/frontend
/templates/frontend/*
!/templates/frontend/index.html
!/templates/authemail
!/templates/templatetags
/database
dev-stats.json
dev.config.js
/assets/*
!/assets/src
!/assets/css
!/assets/js

