.TNH, #TNH {
	vertical-align: middle;
	margin-bottom: 2px;
	background-position: initial;
	background-repeat: initial;
	-alias-webkit-background-clip: border-box;
	color: rgb(85, 85, 85);
	font-size: 10px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(245, 245, 245);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 221, 221);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(221, 221, 221);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	display: inline-block;
	width: fit-content;
	min-width: 100px;
        height: fit-content;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	text-overflow: ellipsis;
	unicode-bidi: isolate;
	white-space: nowrap;
	height: fit-content;
}
